.navbar {
  background-color: rgb(34, 82, 172);
}
.card {
  border-radius: 10px;
}
.dashboard-brand {
  background: url("./docotrBanner.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-fluid {
  height: 10rem;
  width: 10rem;
}
.t-buttons {
  width: 5rem;
  border-radius: 10px;
}
.table {
  border-radius: 20px;
  overflow: hidden;
}
.table-head {
  background-color: rgb(34, 82, 172);
  color: #fff;
}
#products {
  margin-top: 5rem;
}
#btn-addProduct {
  height: 2.7rem;
  font-weight: bold;
}
#add-form-brand {
  background-color: rgb(34, 82, 172);
  border-radius: 20px;
  color: #fff;
  padding: 8% 3%;
}
.rounded-circle {
  height: 7rem;
  width: 7rem;
}
.btn-card {
  width: 8rem;
}
.work-count {
  font-size: 5rem;
}
#footer {
  background-color: rgb(72, 116, 198);
  height: 15rem;
  width: 100%;
  color: #fff;
}
#faqs-section {
  margin-top: 5rem;
}
#privacy-Section {
  margin-top: 5rem;
}
#aboutus-section {
  margin-top: 5rem;
}

#medicines {
  margin-top: 5rem;
  min-height: 100vh;
}
#stakeholder {
  min-height: 100vh;
}
#requestsPage {
  min-height: 100vh;
}

#MedicineCard {
  margin: 0.5rem;
  border-radius: 30px;
  overflow: hidden;
}
#productImg {
  height: 175px;
}
@media (max-width: 768px) {
  #medicineList {
    justify-content: center;
  }
}
